body {
	background-color: #fff;
	font-family: 'Dosis', sans-serif;
}

.navbar-nav {
	float: right;
}

.center {
	width: 100%;
	margin: 40px auto;
}

span {
	background-color: pink;
	padding: 10px;
	border-radius: 3px;
}
li {
	list-style: none;
}

